<html>
    <head>
    <title>Sign-Up/Login Form</title>
    </head>
    <body>
        <h2>Sign In</h2>
        <form action="/login" method="post">
            Username:<input type="text" name="username" placeholder=" type username here">
            Password:<input type="password" name="password">
            <input type="submit" value="Login" name="submit">
        </form>
        <h2>Sign Up</h2>
        <form action="/register" method="post">
            Username:<input type="text" name="username" placeholder=" type username here">
            Password:<input type="password" name="password1">
            Repeat Password:<input type="password" name="password2">
            <input type="submit" value="Register" name="submit">
        </form>
    </body>
</html>